html[class~="dark"] .dark\:nx-text-neutral-500 {
  color: rgba(155, 155, 155, var(--tw-text-opacity)) !important;
}

html[class~="dark"] .dark\:hover\:nx-text-gray-50:hover {
  color: rgba(249, 250, 251, var(--tw-text-opacity)) !important;
}

html[class~="dark"] body {
  background-color: rgba(8, 8, 12, var(--tw-bg-opacity)) !important;
}

html[class~="dark"] .dark\:nx-bg-dark {
  background-color: rgba(8, 8, 12, var(--tw-bg-opacity)) !important;
}

html[class~=dark] div.nextra-nav-container-blur {
  background-color: rgba(8, 8, 12, 0.8) !important;
}

html[class~=dark] .dark\:nx-shadow-\[0_-12px_16px_\#111\] {
  box-shadow: none !important;
}
